.new-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 80px;
  box-shadow: 2px 0 10px 3px rgba(0,0,0,0.30);
  .new-message__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgb(237,237,250);
    font-size: 24px;
    color: rgb(152,154,215);
  }
  .new-message__text {
    width: 95%;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    background-color: rgb(237,237,250);
    line-height: 18px;
    font-size: 18px;
    resize: none;
  }
  .new-message__send-button {
    margin-right: 30px;
    font-size: 24px;
    color: rgb(152,154,215);
  }

}
