<div class="new-message">
  <form class="new-message__form" novalidate #f="ngForm" (ngSubmit)="onSubmit(f); f.reset()" (keydown.control.enter)="onSubmit(f); f.reset()">
    <textarea class="new-message__text" name="newMessage" placeholder="Type something..." #newMessage="ngModel" ngModel required></textarea>
  </form>
  <button class="new-message__send-button" type="submit" (click)="onSubmit(f); f.reset()" [disabled]="f.invalid">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
  </button>
</div>
