<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <input
    type="email"
    placeholder="Your email"
    name="email"
    required
    ngModel>
  <div *ngIf="f.controls.email?.invalid && f.controls.email?.touched">
    Email is required
  </div>
  <input
    type="password"
    placeholder="Your password"
    name="password"
    required
    ngModel>
  <div *ngIf="f.controls.password?.invalid && f.controls.password?.touched">
    Password is required
  </div>
  <button type="submit" [disabled]="f.invalid">Login</button>
</form>


<div>
  <p>or you can log in with google</p>
  <button id="google-auth-btn">
    Login with Google
  </button>
</div>
