footer {
  position: fixed;
  display: block;
  bottom: 10px;
  height: 10px;
  width: 100%;
  text-align: center;
  background-color: #3b3e99;
  p {
    background-color: #3b3e99;
    color: #ffffff;
  }
}
