<nav>
  <ul class="navigation">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/chat" routerLinkActive="active" *ngIf="isLoggedIn">Chats</a>
    <a routerLink="/auth/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
    <a routerLink="/home" routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </ul>
  <user-profile *ngIf="isLoggedIn"></user-profile>
</nav>
