.chat-new__wrapper{
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
  background-color: rgb(255,255,255);
  padding: 150px;
  .chat-new__body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(59, 62, 153, 0.1);
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.5);
    transition: all 200ms linear;
    .user-items-container{
      width: 100%;
      .search-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .user-items-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 200px;
        border: 1px solid rgba(59, 62, 163, 0.5);
        overflow-y: auto;
        .user-item{
          width: 100%;
          cursor: pointer;
          background-color: rgb(255,255,255);
          &:hover{
            background-color: rgba(59, 62, 163, 0.3);
          }
          h3{
            padding: 10px;
          }
        }
      }
    }
    form {
      .submit{
        width: 100%;
      }
    }
  }
}
