<div class="chat-new__wrapper">
  <div class="chat-new__body">
    <h1>New chat</h1>
    <form novalidate #f="ngForm" (ngSubmit)="createChat(f.value)">
      <div class="form-group">
        <label for="usersList">Select user:</label>
        <div class="user-items-container" id="usersList">
          <div class="search-bar">
            <div class="input-group">
              <input type="search" name="search" class="form-control"
                     [(ngModel)]="inputValue" placeholder="Search for..."
                     (focus)="listToggle(true)" ngModel>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="listToggle(false)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="user-items-list" *ngIf="isListVisible">
            <div class="user-item" *ngFor="let user of (users | async) | filterUsers : inputValue"
            (click)="choseItem(user)">
              <h3>{{user?.firstName}} {{user?.lastName}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="newChatMessage">
          <span>Message</span>
        </label>
        <textarea class="form-control" rows="4"
               id="newChatMessage" name="newChatMessage"
                  placeholder="Enter message..." required ngModel></textarea>
        <div class="alert alert-danger"
             *ngIf="f.controls.newChatMessage?.invalid && f.controls.newChatMessage?.touched">
          Message is required
        </div>
      </div>
      <button class="btn btn-success submit" type="submit" [disabled]="f.invalid">Create</button>
    </form>
  </div>
</div>
