.chat-details{
  display: flex;
  flex-direction: column;
  transition: all 300ms;
  .chat-details__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-shadow: 0px 8px 20px -12px rgba(0,0,0, 0.4);
    .message-search {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%;
      .search_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: rgb(237,237,250);
        color: rgb(93,131,197);
        input {
          width: 90%;
          border: none;
          outline: none;
          text-align: center;
          font-family: 'Lato', sans-serif;
          background-color: rgb(237,237,250);
          line-height: 15px;
        }
      }
    }
  }
}
