<div class="chat-list__wrapper" [ngClass]="{'is-hidden': isHidden}">
  <div class="chat-list__header">
    <div class="chat-list__back-button">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="chat-list__toggle" (click)="listToggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>
  <ul class="chat-list__chats-container">
    <li class="chat-item" *ngFor="let chat of chats | async" (click)="select({id: chat.id})">
      <div class="chat-item__photo" [style.background]="'url('+chat.image+')'"></div>
      <div class="chat-item__info">
        <h4 class="chat-item__chat-name">{{ chat.name }}</h4>
        <p class="chat-item__chat-status">{{ chat.status }}</p>
      </div>
      <div class="chat-item__chat-ability">now</div>
    </li>
  </ul>
</div>
